.modal {
  position: absolute;
  width: 375px;
  height: 140px;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(2px);
  // background-color: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  // align-items: center;
  div {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    width: 300px;
    justify-content: center;
    flex-direction: column;
    color: #eee;
    font-weight: 600;
    font-size: 1rem;
    align-items: center;
    div {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: none;
    }
    p {
      padding: 0;
      margin: 0;
    }
    button {
      margin-bottom: 30px;
      margin-top: 30px;
      border: none;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 5px;
    }
  }
}
