.Login {
  padding: 40px 20px 70px;
  .logo {
    display: block;
    width: 335px;
    margin: 0 auto 20px auto;
  }
  .form {
    display: block;
    width: 330px;
    margin: 0 auto;
    padding: 0 10px 20px;
    font-size: 17px;
    .id {
      display: block;
      margin: 0 0 35px;
      font-weight: 600;
      input {
        display: block;
        width: 310px;
        height: 40px;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid rgb(216, 215, 215);
        border-radius: 5px;
      }
    }
    .pw {
      display: block;
      margin: 40px 0 30px;
      font-weight: 600;
      input {
        display: block;
        width: 310px;
        height: 40px;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid rgb(216, 215, 215);
        border-radius: 5px;
      }
    }
    .submitBtn {
      display: block;
      margin: 50px auto 10px;
      width: 310px;
      height: 50px;
      border: none;
      border-radius: 5px;
      background-color: #e9ecef;
      color: white;
      font-size: 20px;
      font-weight: 600;
      text-shadow: 1px 1px 0.5px #868e96;
      &:hover {
        background-color: #d0ebff;
        text-shadow: 1px 1px 1px #339af0;
      }
    }
  }
  .itemBox {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  }
  .itemBox button {
    border: none;
    color: #92969b;
    font-weight: 500;
    background: transparent;
  }
}
