@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.Routine {
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
  padding: 30px 10px;
  overflow-y: hidden;
  // background-color: #f8f9fa;
  // min-height: 812px;
  // max-height: 812px;
  box-sizing: border-box;
  .header {
    font-weight: 900;
    position: relative;
    time {
      font-size: 1.4rem;
      color: #adb5bd;
      margin-left: 3%;
    }
    h1 {
      margin: 0;
      font-size: 2rem;
      color: #212529;
      font-weight: 900;
      margin-left: 10%;
      margin-top: 8%;
    }
    color: #868e96;
    .logoutbtn {
      position: absolute;
      top: 0px;
      right: 10px;
      button {
        padding: 5px;
        border: 0;
        font-weight: bold;
        background: none;
        transition: 0.3s;
        border-radius: 5px 5px;
        box-sizing: border-box;
        cursor: pointer;
        &:hover {
          box-sizing: border-box;
          background-color: #adb5bd;
          color: #fff;
        }
      }
    }
  }
  .section {
    padding: 0;
    min-height: 380px;
    margin-top: 30px;

    .Routine-list {
      padding: 30px 20px;
      list-style: none;
      position: relative;
      color: #000;
      font-weight: 500;
      font-size: 1.4rem;
      letter-spacing: 1px;
      border-radius: 10px;
      margin-bottom: 10px;
      background-color: #e9ecef;

      time {
        letter-spacing: 0;
        display: block;
        font-size: 1.2rem;
        margin-top: 10px;
        font-weight: 800;
        color: rgba(0, 0, 0, 0.2);
      }
      button {
        position: absolute;
        top: 30px;
        right: 10px;
        background: none;
        border: 0;
        cursor: pointer;
        svg {
          font-size: 25px;
        }
      }
    }
  }
  .plus {
    text-align: right;
    button {
      border: 0;
      width: 50px;
      height: 50px;
      position: relative;
      border-radius: 50%;
      background: rgb(255, 255, 255);
      box-shadow: 0 1px 3px #adb5bd, 0 2px 3px #adb5bd;
      cursor: pointer;
      margin-right: 8%;
      margin-bottom: 10%;
      text-align: center;
      svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 3rem;
        border: 0;
        color: #adb5bd;
      }
    }
  }

  .navigation {
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      border-top: 1px solid #adb5bd;
      list-style: none;

      justify-content: center;

      li {
        width: 100%;

        button {
          display: flex;
          width: 100%;
          // background-color: #000;
          background: none;
          justify-content: center;
          border: 0;
          cursor: pointer;
          svg {
            color: #adb5bd;
            padding: 10px 25%;
            font-size: 2rem;
            &:hover {
              color: #000;
            }
          }
        }
      }
    }
  }
}
